<!-- details -->
<div class="details">
    <div class="container">
        <div class="col-md-7 details-left">
            <img src="images/16.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-md-5 details-right">
            
            <span> EJECUTIVA</span> <br> <br>
            <li>Cable con Smart tv</li>
            <li>WI-FI gratis</li>
            <li>Baño privado con agua caliente</li>
            <li>Cama de 2 plazas</li>
            <li>Desde S/. 30</li>
            
            <p> La Habitación Ejecutiva doble es ideal para para viajeros, familias o amigos que quieran disfrutar de un lugar limpio seguro y con todas las comodidades de un hotel.</p>
        </div>
        <div class="clearfix"> </div>
        <!-- <div class="details-top">
            <h3>Lorem Ipsum has been the industry's standard dummy tex</h3>
            <h5>Buy the online room booking, save 2 euro and skip the line!</h5>
            <h6>Validity : from 1 January 2015 to 31 August 2015</h6>
            <h4>Included</h4>
            <li>Kids under 5: free</li>
            <li>publishing packages and web .Many desktop publishing packages and web page editors </li>
            <h4>Not included</h4>
            <li> will uncover many web sites still in their infancy. Various versions have evolved over the years,</li>
            <h4>Additional information</h4>
            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div> -->
        <div class="booking-form">
            <h2>INGRESE SUS DATOS</h2> <br>
             <div class="col-md-6">			 
                <form>
                    <h5>NOMBRE</h5>
                    <input type="text" value="">
                    <h5>APELLIDO</h5>
                    <input type="text" value="">
                    <h5>EMAIL</h5>
                    <input type="text" value="">
                    <h5>TELÉFONO</h5>
                    <input type="text" value="">
                    <h5>HORA</h5>
                    <input type="text" value="" class="time">
                </form>
            </div>
            <div class="col-md-6">		
                <form>
                    <h5>ENTRADA</h5>
                        <select class="arrival">
                             <option>01</option>
                             <option>02</option>
                             <option>03</option>
                             <option>04</option>
                             <option>05</option>
                             <option>06</option>
                             <option>08</option>
                             <option>09</option>
                             <option>10</option>
                             <option>11</option>
                             <option>12</option>
                             <option>13</option>
                             <option>14</option>
                             <option>15</option>
                             <option>16</option>
                             <option>17</option>
                             <option>18</option>
                             <option>19</option>
                             <option>20</option>
                             <option>21</option>
                             <option>22</option>
                             <option>23</option>
                             <option>24</option>
                             <option>25</option>
                             <option>26</option>
                             <option>27</option>
                             <option>28</option>
                             <option>29</option>
                             <option>30</option>
                             <option>31</option>					 
                         </select>
                         <select class="arrival">
                             <option>Enero</option>
                             <option>Febrero</option>
                             <option>Marzo</option>
                             <option>Abril</option>
                             <option>Mayo</option>
                             <option>Junio</option>
                             <option>Julio</option>
                             <option>Agosto</option>
                             <option>Septiembre</option>
                             <option>Octubre</option>
                             <option>Noviembre</option>					 
                             <option>Diciembre</option>
                         </select>
                         <select class="arrival">
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                         </select>
                    <h5>SALIDA</h5>
                         <select class="arrival">
                             <option>01</option>
                             <option>02</option>
                             <option>03</option>
                             <option>04</option>
                             <option>05</option>
                             <option>06</option>
                             <option>08</option>
                             <option>09</option>
                             <option>10</option>
                             <option>11</option>
                             <option>12</option>
                             <option>13</option>
                             <option>14</option>
                             <option>15</option>
                             <option>16</option>
                             <option>17</option>
                             <option>18</option>
                             <option>19</option>
                             <option>20</option>
                             <option>21</option>
                             <option>22</option>
                             <option>23</option>
                             <option>24</option>
                             <option>25</option>
                             <option>26</option>
                             <option>27</option>
                             <option>28</option>
                             <option>29</option>
                             <option>30</option>
                             <option>31</option>					 
                         </select>
                         <select class="arrival">
                             <option>Enero</option>
                             <option>Febrero</option>
                             <option>Marzo</option>
                             <option>Abril</option>
                             <option>Mayo</option>
                             <option>Junio</option>
                             <option>Julio</option>
                             <option>Agosto</option>
                             <option>Septiembre</option>
                             <option>Octubre</option>
                             <option>Noviembre</option>					 
                             <option>Diciembre</option>
                         </select>
                         <select class="arrival">
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                         </select>
             <h5 class="mem">MIEMBROS</h5>
             <input min="1" type="number" id="quantity" name="quantity" value="1" class="form-control input-small">
             <h5>NECESARIO</h5>
             <textarea value=""></textarea>
             <input type="submit" value="Enviar">
             <input type="reset" value="Cancelar">
             </form>			      
         </div>

        </div>
     </div>
</div>
<!-- details -->