<!--start-contact-->
<div class="contact">
    <div class="container">
        <div class="contact-top heading">
            <h3>CONTÁCTENOS</h3> <br> <br>
            <p>Este formulario te permitirá ponerte en contacto con nosotros para aclarar alguna duda que tengas o brindarte información adicional de nuestros servicios. Si deseas  reservar una habitación te recomendamos hacerlo mediante Nuestro formulario de reservas. Gracias por tu preferencia. </p>
        </div>
        <div class="contact-bottom">
            <input type="text" value="Nombre y Apelido" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nombre y Apelido';}" />
            <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" />
            <input type="text" value="Telefono" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Teléfono';}" />
            <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Mensaje..</textarea>
            <div class="submit-btn">
                <form>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    <!--end-contact-->
    <!--start-map-->
        <div class="co-bt">
            <div class="col-md-3 add">
                <h4>UBÍCANOS EN:</h4>
                <address>
                    Av. Mariscal Castilla  N° 4418  <br>
                    Huancayo, Perú<br>
                    Email:eulalioquispeg@hotmail.com <br>
                    Teléfono: 942 917 440
                    <!-- <abbr title="Phone">Telefono:</abbr>942 917 440 -->
                </address>
            </div>
            <div class="col-md-9 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.200787810421!2d-75.23698402661856!3d-12.02969365274727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910ebdf004c60a83%3A0x75264686acd22a81!2sMariscal+Castilla+4418%2C+Huancayo+12006!5e0!3m2!1ses!2spe!4v1565191466394!5m2!1ses!2spe" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--end-map-->
