<section class="nosotros">
    <section class="subnosotros">
        <div>
             <img src="./assets/img/habi05.jpg" alt="">
        </div>
    </section>
    <section class="subnosotros">
        <div>
            <img src="./assets/img/habi06.jpg" alt="">
        </div>
    </section>
</section>
<br>
<br>    
<!-- Mision -->
<div class="valores">
    <div class="mision">
        
            <section>
                 <h3 class="titulo" >Misión</h3>
                    <br>
                    <br>
                 <p>
                  Somos una empresa de retail especializada, dedicada a la venta minorista de libros y artículos de entretenimiento
                 cultural. Nuestras actividades se concentran en la venta de libros diversos en un ambiente agradable,
                  diferenciado por nuestra calidad de servicio y el asesoramiento de nuestros libreros. En la actualidad,
                   Librerías Crisol cuenta con 29 tiendas a nivel nacional y estamos presentes en las ciudades de Lima, Arequipa,
                    Trujillo, Huancayo, Chiclayo, Piura, Ica, Cusco, Huánuco y Pucallpa.
                    </p>           
             </section>
          
    </div>
    <br><br><br>
    <div class="mision">
            <section>
   
                <h3 class="titulo">Visión</h3> 
                     <br><br>
                     <p>
                  Somos la cadena de librerías con la oferta más amplia y variada de entretenimiento cultural,
                  brindando el mejor nivel de servicio en el mercado peruano. Nos caracterizamos por los altos 
                  estándares de respeto, calidez y amabilidad de nuestros colaboradores.
                   <br>
                  Nuestro objetivo es ofrecer una experiencia de disfrute y crecimiento personal en un ambiente 
                  estimulante, contribuyendo a difundir la cultura en nuestro país.
                     </p>
            </section>
    </div>
    <br><br><br>
     <div class="mision">
        
            <section>
                 <h3 class="titulo">Nuestros Valores</h3> 
                <br><br>
                 <p>
                Convertirnos en la principal cadena de tiendas de entretenimiento cultural ampliando nuestra red
                 de librerías hacia las principales ciudades del país, y de esta manera, convertirnos
                  progresivamente en referente cultural de América Latina.
                </p>
            </section>
    </div>
</div>
