<div class="banner">
<header class="header">
    <div class="container">
        <div class="logo">
            <h1><a routerLink="inicio">Hotel Aroma's</a></h1>
        </div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li routerLinkActive="active"><a routerLink="inicio">Inicio</a></li>
                        <li routerLinkActive="active"><a routerLink="habitaciones">Habitaciones</a></li>
                        <li routerLinkActive="active"><a routerLink="novedades">Novedades</a></li>
                        <li routerLinkActive="active"><a routerLink="nosotros">Nosotros</a></li>
                        <li routerLinkActive="active"><a routerLink="Contactenos">Contáctenos</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <div class="search-box">
                <li><a routerLink="Registrarse" >Registrarse</a></li>
            </div>
    </div>
</header>
</div>