<!-- offers -->

<div class="offers">
    <div class="container">
        <div class="col-md-4 offers-left">
            <h3>Promoción Matrimonial</h3>
            <img src="./assets/img/matrimonial.jpg" class="img-responsive" alt="">
            <h4 class="servicio">Servicios</h4>
            <p>Cable con Smart tv</p>
            <p>WI-FI</p>
            <p>Baño privado con agua caliente</p>
            <p>Cama 2 plazas</p>
            <p>S/. 60.00</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Reservar ahora</a>
        </div>
        <div class="col-md-4 offers-left">
            <h3>Promoción Doble</h3>
            <img src="./assets/img/doble.jpg" class="img-responsive" alt="">
            <h4 class="servicio">Servicios</h4>
            <p>Cable con Smart tv</p>
            <p>WI-FI</p>
            <p>Baño privado con agua caliente</p>
            <p>Cama 2 plazas</p>
            <p>S/. 70.00</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Reservar Ahora</a>
        </div>
        <div class="col-md-4 offers-left">
            <h3>Prommoción Ejecutiva</h3>
            <img src="./assets/img/habi01.jpg" class="img-responsive" alt="">
            <h4 class="servicio">Servicios</h4>
            <p>Cable con Smart tv</p>
            <p>WI-FI</p>
            <p>Baño privado con agua caliente</p>
            <p>Cama 2 plazas</p>
            <p>S/. 30.00</p>
            <a class="hvr-shutter-in-horizontal" href="details.html">Reservar Ahora</a>
        </div>
        
     </div>
</div>
<!-- offers -->
