<div class="login-page">
    <div class="container">
        <div class="account_grid">
            <div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
                <h3>NUEVOS CLIENTES</h3>
                <p>
                    Al crear una cuenta en nuestra tienda, podrá pasar por el proceso de pago más rápido, almacenar múltiples direcciones de envío, ver y rastrear sus pedidos en su cuenta y más.</p>
                <a class="acount-btn" href="register.html">Crear una cuenta</a>
           </div>
           <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
                <h3>REGÍSTRATE</h3>
                <p>Si tiene una cuenta con nosotros, inicie sesión.
                </p>
                <form>
                    <div>
                        <span>Correo Electrónico<label>*</label></span>
                        <input type="text"> 
                    </div>
                    <div>
                        <span>Contraseña<label>*</label></span>
                        <input type="password"> 
                    </div>
                    <!-- <a class="forgot" href="#">¿Olvidaste tu contraseña?</a> -->
                    <input type="submit" value="Iniciar Sesión">
                </form>
           </div>	
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
