<!-- single -->
<div class="single">
    <div class="container">
        <div class="single-top">
            <div class="col-md-6 single-left">
                <a href="details.html"><img src="./assets/img/14.jpg" class="img-responsive" alt=""></a>
            </div>
            <div class="col-md-6 single-right">
                <h3><a href="details.html">EJECUTIVA</a></h3>
                <p>- Cable TV</p>
                <p>- WI-FI gratis</p>
                <p>- Baño privado con agua fria</p>
                <p>- Cama de 2 plazas</p>
                <p>- S/. 30</p>
                <div class="sinbt">
                    <a class="hvr-shutter-in-horizontal" href="details.html">Reservar</a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="single-top">
            <div class="col-md-6 single-right">
                <h3><a href="details.html">MATRIMONIAL</a></h3>
                <p>- Cable TV</p>
                <p>- WI-FI gratis</p>
                <p>- Baño privado con agua fria</p>
                <p>- Cama de 2 plazas</p>
                <p>- S/. 50</p>
                <div class="sinbt">
                    <a class="hvr-shutter-in-horizontal" href="details.html">Reservar</a>
                </div>
            </div>
            <div class="col-md-6 single-left">
                <a href="details.html"><img src="./assets/img/15.jpg" class="img-responsive" alt=""></a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="single-top">
            <div class="col-md-6 single-left">
                <a href="details.html"><img src="./assets/img/13.jpg" class="img-responsive" alt=""></a>
            </div>
            <div class="col-md-6 single-right">
                <h3><a href="details.html">DOBLE</a></h3>
                <p>- Cable TV</p>
                <p>- WI-FI gratis</p>
                <p>- Baño privado con agua fria</p>
                <p>- Cama de 2 plazas</p>
                <p>- S/. 70</p>
                <div class="sinbt">
                    <a class="hvr-shutter-in-horizontal" href="details.html">Reservar</a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
     </div>
</div>
<!-- registration -->