<div *ngIf="!user">
     no puedes ingresar tienes que loguearte
     <br>

     <a routerLink="/login">iniciar sesion</a>
</div>
<div *ngIf="user">
     bienvenido a tu pagina 
    aquiu puedo entrar solo sui estoy logeado.

    <button  (click)="cerrarSesion">
        cerrar sesion
    </button>
</div>




<!-- <div>
    <div *ngIf="!user">
    <a [routerLink]="['/login']" routerLinkActive="active">iniciar sesion</a>
    </div>
    <div *ngIf="user">
    <a >{{user.name}}</a>
    </div>
    <div *ngIf="user">
    <a >{{user.lastName}}</a>
    </div>
    <div *ngIf="user">
    <img [src]="user.photoUrl" alt="" srcset="">
    </div>
    <button *ngIf="user" (click)="sig">
    cerrar sesion
    </button>
    <div class="">
    <a [routerLink]="['/home']" routerLinkActive="active">home </a>
    </div>
    <div class="">
    <a [routerLink]="['/admin']" routerLinkActive="active">admin </a>
    </div>
    </div> -->