<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="col-md-2 deco">
			<h4>Hotel Aroma's</h4>
			<li><a routerLink="inicio">Inicio</a></li>
			<li><a routerLink="habitaciones">Habitaciones </a></li>
			<li><a routerLink="habitaciones">Novedades</a></li>
			<li><a routerLink="Nosotros">Nosotros </a></li>
			<li><a routerLink="Registrarse">Registrarse</a></li> 
			<li><a routerLink="Contactenos">Contáctenos</a></li>
		</div>
		<div class="col-md-2 deco">
			<h4>Social</h4>
			<div class="soci">
				<li><a href="#"><i class="f-1"> </i></a></li>
				<li><a href="#"><i class="t-1"> </i></a></li>
				<li><a href="#"><i class="g-1"> </i></a></li>
			</div>
		</div>
		<div class="col-md-3 cardss">
			<h4>Pago Seguro</h4>
			<li><i class="visa"></i></li>
			<li><i class="ma"></i></li>
			<li><i class="paypal"></i></li>
			<div class="clearfix"> </div>
		</div>
		<div class="col-md-3 pos">
		<h4>Escríbenos</h4>
				   <form method="post">
					 <input type="text" class="textbox" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
					 <div class="smt">
						<input type="submit" value="Suscribirse">
					 </div>
				   </form>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="footer-bottom">
		<div class="container">
			<p>© Hotel Aroma's 2019 </p>
		</div>
	</div>
	<!-- footer -->